*{
    margin: 0%;
    box-sizing: border-box;
}

.box-margin{
    margin-top: 30px;
}
nav{
    background-color: brown ;
    width: 100%;
    height: 40px;
}

.box{
    display: flex;
    justify-content: center;
}

.box1{
    background-color: rgba(128, 128, 128, 0.507);
    width: 650px;
    height: 150px;
    margin-right: 10px;
}

.box2{
    background-color: rgba(128, 128, 128, 0.507);
    width: 650px;
    height: 150px;
    margin-left: 10px;
}

.side-bar{
    width: 100%;
    display: flex;
    align-items: center;
}
.side-bar-up-1 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    background-color: yellow;
}

.side-bar-up-left{
    background-color:rgba(128, 128, 128, 0.507);
    width: 315px;
    height: 300px;
    margin-right: 10px;
}

.side-bar-up-right{
    width: 315px;
    flex-direction: column;
    margin-left: 10px;
}

.right-1{
    background-color:rgba(128, 128, 128, 0.507);
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
}

.right-2{
    background-color:rgba(128, 128, 128, 0.507);
    width: 300px;
    height: 140px;
}

.side-bar-up-2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    flex-direction: row-reverse;
    background-color: indianred;
}

.side-bar-up-right-2{
    background-color:rgba(128, 128, 128, 0.507);
    width: 315px;
    height: 300px;
    margin-left: 10px;
}

.side-bar-up-left-2{
    width: 315px;
    flex-direction: column;
    margin-left: 10px;
}

.left-1{
    background-color:rgba(128, 128, 128, 0.507);
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
}

.left-2{
    background-color:rgba(128, 128, 128, 0.507);
    width: 300px;
    height: 140px;
}