h3 {
  font-size: 45px;
}

h4 {
  font-size: 40px;
}

.hero-crousel {
  width: 100%;
  height: 47.375rem;
  background-color: #000000;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */
}

.hero-crousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-container {
  width: 100%;
}

.category-grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 272px 272px 272px 272px;
}

.category-box img {
  width: 100%;
  object-fit: cover;
}

.category-box:hover img {
  opacity: 31%;
  transition: 200ms;
  animation: ease-in-out;
}

.text {
  color: #000;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  transition: 200ms;
}

.category-box:hover .text {
  display: flex;
  transition: 500ms;
}

.category-box {
  position: relative;
}

.new-arrivals-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.new-arrivals {
  width: 272px;
  margin-bottom: 20px;
}

.new-arrivals-img {
  width: 100%;
  height: 381px;
  overflow: hidden;
}

.new-arrivals-img img {
  width: 100%;
}

.new-arrivals-info {
  width: 100%;
  height: 89px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.new-arrivals-info .new-arrivals-title {
  font-size: 20px;
}

.new-arrivals-info .new-arrivals-price {
  font-size: 17px;
  display: flex;
  align-items: center;
}

.new-arrivals-info span {
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #000;
}

.collection-1 {
  width: 100%;
  height: 45.563rem;
  position: relative;
}

.collection-1-thumbnail {
  width: 559px;
  height: 729px;
  background-color: #fff;
  position: absolute;
  transition: 200ms;
  overflow: hidden;
}

.collection-1-thumbnail img {
  width: 100%;
  z-index: 1;
}

.collection-1-title {
  position: absolute;
  top: 9.5rem;
  left: 30.813rem;
}

.collection-1-info {
  position: absolute;
  top: 18.188rem;
  left: 37.688rem;
  width: 16.563rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: left;
}

.background-box1-container {
  position: relative;
  top: 3.188rem;
}

.collection-1-background-box1 {
  width: 100%;
  height: 30.313rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-top: 0.563rem;
}

.collection-1-background-box2 {
  display: flex;
  width: 97%;
  height: 31.438rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  left: 0;
  margin-left: 0.973rem;
}

.backgroud-line {
  width: 243px;
  height: 1px;
  background-color: #d6d6d6;
}

.article-button-right {
  width: 354px;
  z-index: 1111;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 559px;
  top: 437.57px;
  text-align: right;
}

.article-button-left {
  width: 354px;
  z-index: 1111;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 563px;
  top: 503px;
}

.collection-2 {
  width: 66.688rem;
  height: 46rem;
  position: relative;
  /* float: right; */
  margin-left: auto;
}

.collection-2-thumbnail {
  width: 559px;
  height: 729px;
  background-color: #fff;
  position: absolute;
  transition: 200ms;
  overflow: hidden;
  right: 0;
  top: 0;
}

.collection-2-thumbnail img {
  width: 100%;
  z-index: 1;
}

.collection-2-title {
  position: absolute;
  text-align: right;
  top: 13.688rem;
  right: 30.938rem;
}

.collection-2-info {
  position: absolute;
  top: 22.25rem;
  right: 37.875rem;
  width: 18.063rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: right;
}

.background-box2-container {
  position: relative;
  top: 7.813rem;
}

.collection-2-background-box1 {
  width: 100%;
  height: 30.313rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-top: 0.563rem;
}

.collection-2-background-box2 {
  display: flex;
  width: 98%;
  height: 31.438rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-left: 0.973rem;
}

.collection-3 {
  width: 68.438rem;
  height: 45.563rem;
  position: relative;
}

.collection-3-thumbnail {
  width: 559px;
  height: 729px;
  background-color: #fff;
  position: absolute;
  transition: 200ms;
  overflow: hidden;
}

.collection-3-thumbnail img {
  width: 100%;
  z-index: 1;
}

.collection-3-title {
  position: absolute;
  top: 9.5rem;
  left: 30.813rem;
}

.collection-3-info {
  position: absolute;
  top: 18.188rem;
  left: 37.688rem;
  width: 16.563rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: left;
}

.background-box3-container {
  position: relative;
  top: 3.188rem;
}

.collection-3-background-box1 {
  width: 100%;
  height: 30.313rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  margin-top: 0.563rem;
}

.collection-3-background-box2 {
  display: flex;
  width: 97%;
  height: 31.438rem;
  position: absolute;
  border: 0.125rem solid #5e5e5e;
  left: 0;
  margin-left: 0.973rem;
}

.collection-1-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  background-color: gray;
  opacity: 60%;
  transition: 200ms;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 70px;
  height: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom line */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

/* Move line down */
.menu-wrap .hamburger > div:after{
  top: 10px
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}


.menu-wrap .menu {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .menu > div {
  width: 80%;
}


.menu-submenu {
  width: 50%;
  height: 100%;
  background-color: #ededed;
  padding-left: 120px;
  line-height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-submenu {
  display: none;
  grid-template-columns: auto auto auto;
  column-count: 2;
}

.show {
  display: grid;
}

.category-submenu ul {
  margin: 20px 0px;
}

.category-submenu li {
  list-style-type: none;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 14px;
  cursor: pointer;
  padding-left: 10px;
}

.menu-submenu h4 {
  cursor: pointer;
  width: fit-content;
  padding: 0px 5px;
}

.menu-submenu h4:hover {
  cursor: pointer;
  background-color: #000000;
  color: #fff;
  transition: 200ms;
}

.search-and-cart-wrap{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search-wrap {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  /* margin-right: 50px; */
}

.navbar-search-wrap .toggler{
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
}

.search {
  height: 100vh;
  width: 30%;
  display: none;
  background-color: #ededed;
  position: absolute;
  top: 60px;
  right: 0;
  padding: 64px 44px;
  z-index: 2;
}

.search input {
  width: 100%;
  height: 53px;
  border: none;
  outline: transparent;
  margin-top: 32px;
  padding: 0 18px;
  font-size: 16px;

}

.search input::placeholder{
  font-style: italic;
  color: #909090;
  font-size: 14px;
}

.exit-icon-wrap {
  right: 44px;
  top: 64px;
  position: absolute;
  cursor: pointer;
}


.navbar-cart-wrap {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-cart-wrap .toggler{
  /* z-index: 3; */
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  position: absolute;
}

.cart {
  height: 100vh;
  width: 30%;
  background-color: #ededed;
  position: absolute;
  top: 60px;
  right: 0;
  padding: 64px 44px;
  z-index: 1;
  display: none;
}

/* .menu-submenu h4{
  color: #000;
  overflow: hidden;
  transition: 200ms;
  cursor: pointer;
  background: linear-gradient(to right, #fff, #fff 50%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.menu-submenu h4:hover{
  background-position: 0 100%;
} */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  h2 {
    text-align: center;
  }

  .main-article {
    width: 100%;
    padding: 22px;
  }

  .navbar {
    height: 40px;
    width: 100%;
    padding-left: 14px;
  }

  .navbar-hamburger img {
    width: 20px;
  }

  .navbar-find_cart img {
    width: 20px;
  }

  .navbar-logo img {
    width: 150px;
  }

  .menu-wrap .toggler{
    width: 55px;
    height: 40px;
  }

  .menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 55px;
    height: 40px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-wrap .menu {
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .menu-submenu {
    width: 100%;
    padding-left: 20px;
  }

  .menu-submenu h4 {
    font-size: 30px;
  }

  .menu-thumbnail {
    display: none;
  }

  .hero-crousel {
    width: 100%;
    height: 248px;
  }

  .category-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .category-box .text {
    display: block;
    font-size: 16px !important;
  }

  .category-box img {
    opacity: 31%;
  }

  .new-arrivals-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2,48%);
    justify-content: space-between;
  }

  .new-arrivals {
    width: 100%;
  }

  .new-arrivals-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .new-arrivals-info {
    height: 60px;
    padding: 10px 0;
  }
  
  .new-arrivals-info .new-arrivals-title{
    font-size: 14px;
    font-weight: 600;
  }

  .new-arrivals-info .new-arrivals-price{
    font-size: 12px;
  }

  .background-box1-container {
    display: none;
  }
  .background-box2-container {
    display: none;
  }
  .background-box3-container {
    display: none;
  }

  .collection-1 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-1-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  .collection-1-title h3 {
    font-size: 35px;
  }

  .collection-1-info {
    display: none;
  }

  .collection-1-thumbnail {
    width: 100%;
    height: 427px;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-2 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-2-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 20px;
    text-align: left;
  }

  .collection-2-title h3 {
    font-size: 30px;
  }

  .collection-2-info {
    display: none;
  }

  .collection-2-thumbnail {
    width: 100%;
    height: 427px;
    position: relative;
  }

  .collection-2-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-3 {
    width: 100%;
    height: min-content;
  }

  .collection-3-title {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }

  .collection-3-title h3 {
    font-size: 30px;
  }

  .collection-3-info {
    display: none;
  }

  .collection-3-thumbnail {
    width: 100%;
    height: 427px;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }
}

/*  
  h2 {
    text-align: center;
  }

  .main-article {
    width: 100%;
    padding: 22px;
  }

  .hero-crousel {
    width: 100%;
    height: 248px;
  }

  .category-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }

  .category-box .text {
    display: block;
    font-size: 16px !important;
  }

  .category-box img {
    opacity: 31%;
  }

  .new-arrivals-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
  }

  .new-arrivals {
    width: 100%;
  }

  .new-arrivals-img {
    width: 100%;
    height: 275px;
    overflow: hidden;
  }

  .new-arrivals-info .new-arrivals-title{
    font-size: 16px;
    font-weight: 600;
  }

  .new-arrivals-info .new-arrivals-price{
    font-size: 14px;
  }

  .background-box1-container {
    display: none;
  }
  .background-box2-container {
    display: none;
  }
  .background-box3-container {
    display: none;
  }

  .collection-1 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-1-title {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .collection-1-title h3 {
    font-size: 4.2vw;
  }

  .collection-1-info {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2.5vw;
  }

  .collection-1-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-2 {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .collection-2-title {
    position: absolute;
    top: 25%;
    right: 55%;
  }

  .collection-2-title h3 {
    font-size: 4.2vw;
    text-align: right;
  }

  .collection-2-info {
    position: absolute;
    top: 50%;
    right: 55%;
    font-size: 2.5vw;
  }

  .collection-2-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-2-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-3 {
    width: 100%;
    height: min-content;
  }

  .collection-3-title {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .collection-3-title h3 {
    font-size: 4.2vw;
  }

  .collection-3-info {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2.5vw;
  }

  .collection-3-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-left {
    display: none;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    text-align: center;
  }

  .main-article {
    width: 100%;
    padding: 22px;
  }

  .hero-crousel {
    width: 100%;
    height: 248px;
  }

  .menu {
    width: 50%;
    z-index: 1;
    height: 100%;
  }

  .menu-submenu {
    width: 100%;
    padding-left: 20px;
  }

  .menu-submenu h4 {
    font-size: 30px;
  }

  .menu-thumbnail {
    display: none;
  }

  .category-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }

  .category-box .text {
    display: block;
    font-size: 16px !important;
  }

  .category-box img {
    opacity: 31%;
  }

  .new-arrivals-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
  }

  .new-arrivals {
    width: 100%;
  }

  .new-arrivals-img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .new-arrivals-info .new-arrivals-title{
    font-size: 16px;
    font-weight: 600;
  }

  .new-arrivals-info .new-arrivals-price{
    font-size: 14px;
  }

  .background-box1-container {
    display: none;
  }
  .background-box2-container {
    display: none;
  }
  .background-box3-container {
    display: none;
  }

  .collection-1 {
    width: 100%;
    height: min-content;
    margin-bottom: 60px;
  }

  .collection-1-title {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .collection-1-title h3 {
    font-size: 4.2vw;
  }

  .collection-1-info {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2.5vw;
  }

  .collection-1-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-2 {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .collection-2-title {
    position: absolute;
    top: 25%;
    right: 55%;
  }

  .collection-2-title h3 {
    font-size: 4.2vw;
    text-align: right;
  }

  .collection-2-info {
    position: absolute;
    top: 50%;
    right: 55%;
    font-size: 2.5vw;
  }

  .collection-2-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-2-thumbnail img {
    width: 100%;
  }

  .article-button-right {
    display: none;
  }

  .collection-3 {
    width: 100%;
    height: min-content;
  }

  .collection-3-title {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .collection-3-title h3 {
    font-size: 4.2vw;
  }

  .collection-3-info {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2.5vw;
  }

  .collection-3-thumbnail {
    width: 50%;
    height: auto;
    position: relative;
  }

  .collection-1-thumbnail img {
    width: 100%;
  }

  .article-button-left {
    display: none;
  }
}
