*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    width: 100%;
    height: 625px;
    background-image: url(https://lh5.googleusercontent.com/to2dfSLzNC6eiINxZx7LgSrCBNEH9drXGqVi4J1c-EpQAGYfeCsjNV8hlDiYQeLsHWMxdmbOOC4fpt8p3-k_=w1366-h364-rw);
    background-position: center;
    background-size: cover;
}

nav{
    background: #f7fbe173;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100000;
    transition: 0.6s;
}

nav.sticky{
    background: #F7FBE1;
    height: 50px;
    transition: 0.6s;
}

nav.sticky .logo{
    transform: scale(0.8);
    transition: 0.6s;
}

nav.sticky button{
    height: 50px;
    transition: 0.6s;
}

.logo img{
    width: 90%;
    margin-left: 30px ;
    position: relative;
}

.menu ul{
    display: flex;  
    transform: translate(30%);
    position: relative;
}

.menu li{
    list-style-type: none;
    padding-left: 25px;
    font-weight: 500;
} 

.menu li a:hover{
    background-color: #3FC588;
    color: #fff;
}

.menu li a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #195744;
    border-radius: 50% 0 50% 0;
    transition: 0.5s;
}

nav button{
    width: 200px;
    height: 70px;
    transform: translate(110%);
    border: none;
    background-color: #175743;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    transition: 0.5s;
}

nav button:hover{
    background-color: #3FC588;
    color: #000;
    transition: 0.5s;
}

.sologan{
    position: absolute;
    transform: translate(55%,100%);
    font-size: 30px;
    text-transform: lowercase;
    line-height: 1.1;
}

.content-1-img img{
    width: 800px;
    transform: translate(65%, 17%);
}

.content-1 button:hover{
    background-color: #FBFDFC;
    color: #47BB5A;
    transition: 0.5s;
}

.container-2{
    background-color: #E3F4EA;
    width: 100%;
    height: 625px;
}

    .content-2{
        display: flex;
    }

.content-2 iframe{
    transform: translate(10%,25%);
    border-radius: 8px;
}

.content-2-article-1{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transform: translate(40%,20%);
}

.content-2-article-1 h1{
    color:#47BB5A;
    font-size: 40px;
    margin-bottom: 20px;
}

.content-2-article-1 p{
    color: gray;
    font-size: 18px;
}

.content-2-article-1 button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #47BB5A;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase; 
    transition: 0.5s;
}

.content-2-article-1 button:hover{
    color: #fff;
    transition: 0.5s;
}

.container-3{
    background-color: #175743;
    width: 100%;
    height: 550px;
}

.content-3{
    display: flex;
    justify-content: space-between;
}

.content-3-img img{
    width: 95%;
    height: 550px;
    display: flex;
    float: right;
}

.content-3-article-1{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transform: translate(40%,10%);
}

.content-3-article-1 h1{
    color:#fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.content-3-article-1 p{
    color: #fff;
    font-size: 18px;
}

.content-3-article-1 button{
    width: 100%;
    height: 40px;
    /* border-radius: 25px; */
    border: none;
    background-color: #24C482;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;  
    transition: 0.5s;
}

.content-3-article-1 button:hover{
    color: #fff;
    transition: 0.5s;
}

.title-bar{
    width: 90%;
    height: 100px;
    display: flex;
    margin: auto;
    align-items: center;
    border-bottom: 3px solid #56A085;
    color: #56A085;
    margin-bottom: 30px;
    font-size: 20px;
}

.container-5{
    background-color: #E3F4EA;
    width: 100%;
    height: 550px;
}

    .content-5{
        display: flex;
    }

    .content-5-img img{
        width: 93%;
        height: 550px;
    }

.content-5-article-1{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transform: translate(20%,15%);
}

.content-5-article-1 h1{
    color:#47BB5A;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-5-article-1 p{
    color: gray;
    font-size: 18px;
    margin-top: 20px;
}

.content-5-article-1 button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #47BB5A;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    margin-top: 25px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase; 
    transition: 0.5s;
}

.content-5-article-1 button:hover{
    color: #fff;
    transition: 0.5s;
}

    .container-4{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container-4 .news-list{
    width: 90%;
    height: fit-content;
}

.news-list .news-row{
    display: flex;
    justify-content: center;
}

.news-list a{
    width: 570px;
    height: 200px;
    margin: 10px;
    display: flex;
    text-decoration: none;
}

.picture{
    width: 200px;
    height: 200px;
}

.picture img{
    width: 100%;
    height: 100%;
}

.news-list .title{
    width: 350px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

.news-list .title h3{
    color: #56A085;
}

.news-list .title h3:hover{
    text-decoration: underline;
    color: #175743;
}

.news-list .title p{
    height: 50px;
    color: #000;
    font-size: 14px;
}

hr{
    color: #56A085;
    /* margin: 15px; */
}

.action-img {
    width: 100%;
    height: 600px;
    background-image: url(//wwfasia.awsassets.panda.org/img/original_ww185756_2_720591.jpg);
    background-position: center;
    background-size: cover;
}

.action-img .sologan{
    position: absolute;
    z-index: 111;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate(400%,700%);
}

.action-img button{
    width: 200px;
    height: 70px;
    transform: translate(550%,400%);
    border: none;
    background-color: #3FC588;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.5s;
}

.action-img button:hover{
    background-color: #06f78a;
    color: #000;
    transition: 0.5s;
}

.company-info{
    width: 100%;
    height: 550px;
    background-color: #def5ee;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.register-form form{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-address{
    width: 600px;
    height: 400px;
    margin-left: 20px;
}

.block-about-us{
    width: 600px;
    margin-bottom: 15px;
}

form h2{
    width: 300px;
    margin-bottom: 15px;
    text-align: center;
}
#firstname{
    width: 70%;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    background-color: #F5F6F7;
    border: solid #ccd0d5 1px;
    margin-bottom: 15px;
}

#lastname{
    width: 70%;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    background-color: #F5F6F7;
    border: solid #ccd0d5 1px;
    margin-bottom: 15px;
}

#email{
    width: 70%;
    height: 40px;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    background-color: #F5F6F7;
    border: solid #ccd0d5 1px;
    margin-bottom: 15px;
}

form button{
    width: 280px;
    height: 40px;
    border: none;
    background-color: #24C482;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase; 
    transition: 0.5s;
}

form button:hover{
    color: #fff;
    transition: 0.5s;
}

.social-media{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media i{
    font-size: 50px;
    color: #3FC588;
}

.social-media a{
    margin: 10px;
}

.icon-up {
    font-size: 40px;
    color: #464646;
    position: fixed;
    bottom: 20px;
    right: 10px;
  }

  .bottom-logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.bottom-logo img{
    width: 300px;
}


